### Importando paquetes

In [1]:
import pandas as pd
import os

#### Task#1: Agregando los archivos de 12 meses en uno solo

In [2]:
#df = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

# Agrego todos los files csv a la variable files
files = [file for file in os.listdir('./Sales_Data')] 

all_months_data = pd.DataFrame()
# por cada csv se ira agregando al dataframe all_months_data para tener un archivo con todos los datos

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_months_data = pd.concat([all_months_data, df])
print(all_months_data.head())

all_months_data.to_csv('all_data.csv') #guardandolo como archivo csv


all_data = pd.read_csv("all_data.csv")
print(all_data.head())

  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1      NaN                         NaN              NaN        NaN
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1             NaN                                   NaN
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
   Unnamed: 0 Order ID                     Product Quantity Ordered  \
0           0   176558        USB-C Charging Cable                2
1           1      NaN                         NaN              NaN
2           2   176559  Bose SoundSport Headphones                1
3           3   176560                Google Phone                1
4           4   176560            Wired Headphones                1

  Price Each      Order Date                      Purchase Address
0      11.95  04/19/19 08:46          917 1st St, Dallas, TX 75001
1        NaN             NaN                                   NaN
2      99.99  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3        600  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4      11.99  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

#### Task#2: Agregando columna de meses

In [18]:
all_data['Month'] = all_data['Order Date'].str[0:2] # esto para obtener los primeros 2 caracters de la columna order date
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

### Limpiando los datos

In [14]:

nan_df = all_data[all_data.isna().any(axis=1)]# filtrar y obtener las filas NaN 
nan_df.head()

all_data = all_data.dropna(how='all')
all_data.head(100)

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
...,...,...,...,...,...,...,...,...
96,96,176649,USB-C Charging Cable,1,11.95,04/09/19 08:49,"702 11th St, San Francisco, CA 94016",04
97,97,176650,Lightning Charging Cable,1,14.95,04/12/19 16:47,"153 River St, Boston, MA 02215",04
98,98,176651,iPhone,1,700,04/07/19 13:14,"997 South St, Boston, MA 02215",04
99,99,176652,LG Washing Machine,1,600.0,04/09/19 20:04,"502 14th St, New York City, NY 10001",04
100,100,176653,AA Batteries (4-pack),1,3.84,04/26/19 19:20,"285 Chestnut St, San Francisco, CA 94016",04

### Encontrando 'Or'

In [17]:
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or'] #al utilizar str[0:2] solo agarrabamos los primeros 2 datos, como anterior mente 
# juntamos los csv de cada mes para juntarlos en uno solo, los data frames de antes se convirtieron en columnas
#por eso agarraba el 'or' de Order date

### Convirtiendo las columnas Quantity Ordered y Price Each al tipo de dato correcto

In [ ]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered']) #Convertir a int
all_data['Price Each'] = pd.to_numeric(all_data['Price Each']) #Convertir a float

#### Task#3: Agregar una columna llamada Sales

In [19]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

TypeError: can't multiply sequence by non-int of type 'str'

### Q1: What was the best month for sales? How much was earned that month?